<h1>Where Do You Workout?</h1>
<a href="/">Go Back</a>

<form action="/my-handling-form-page" method="post">
  <div>
    <label for="name">Gym Name</label>
    <input type="text" id="name" name="gymName">
  </div>
  <div>
    <label for="city">City</label>
    <input type="text" id="city" name="gymCity">
  </div>
  <div>
    <label for="state">State</label>
    <input type="text" id="state" name="gymState">
  </div>
</form>