<h1>Our Community</h1>
<a href="/">Go Back</a>

<button>See Who's Here!</button>
<button>Chekout Our Exercises!</button>

<form action="/users/new" method="post">
    <div>
        <label for="name">User Name</label>
        <input type="text" id="name" name="userName">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="userAge">
    </div>
    <div>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="userWeight">
    </div>
    <div>
        <label for="height">Height:</label>
        <input type="number" id="height" name="userHeight">
     </div>
    <div>
        <label for="msg">Goals</label>
        <textarea id="msg" name="userGoals"></textarea>
    </div>
<br>
    <input type="submit" value="Create Account">
</form>